# Introducere in Data Science - Tema 2 Laborator 4
## Grupa
### 10LF381
## Membri
### - Bucur Robert-Adrian
### - Bogdan Gheorghe-Nicolae

**Precizari**:
* Se acorda 3 puncte din oficiu.
* Predarea se va face in saptamana 23-27 martie 2020.
* Temele se pot lucra in echipe de cate 2 studenti. Tema se va depune in lucrarea de pe site-ul de elearning

# Exercitii cu Pandas

In [2]:
import pandas as pd

## Exercitiul 1
Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.

In [3]:
data = pd.read_csv('chipotle.tsv', sep='\t')

**1. (optional) Afisati primele 5 linii din tabel**

In [4]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

**2. (optional) Care este numarul de inregistrari din DataFrame?**

In [39]:
print('Numarul de inregistrari: ', data.shape[0])

Numarul de inregistrari:  4622

**3. (optional) Comparati iesirea metodelor `info()` si `describe()`.**

In [6]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

**4. (optional) Care e numarul de coloane? afisati numele lor.**

In [40]:
print('Numarul de coloane: ', data.shape[1])
print('Acestea sunt: ', data.columns)

Numarul de coloane:  7
Acestea sunt:  Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'item_price_float', 'total_sum'],
      dtype='object')

**5. (0.5 puncte) Cum e indexat setul de date? Sunt valorile din index unice?**

In [8]:
print(data.order_id)
data.order_id.is_unique

0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

False

**6. (0.5 puncte) Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?**

In [9]:
items = pd.Series(data['item_name'].sort_values().unique())
print(items)
len(items)

0                         6 Pack Soft Drink
1                             Barbacoa Bowl
2                          Barbacoa Burrito
3                     Barbacoa Crispy Tacos
4                       Barbacoa Salad Bowl
5                       Barbacoa Soft Tacos
6                             Bottled Water
7                                      Bowl
8                                   Burrito
9                               Canned Soda
10                        Canned Soft Drink
11                            Carnitas Bowl
12                         Carnitas Burrito
13                    Carnitas Crispy Tacos
14                           Carnitas Salad
15                      Carnitas Salad Bowl
16                      Carnitas Soft Tacos
17                             Chicken Bowl
18                          Chicken Burrito
19                     Chicken Crispy Tacos
20                            Chicken Salad
21                       Chicken Salad Bowl
22                       Chicken Soft Tacos
23                                    Chips
24             Chips and Fresh Tomato Salsa
25                      Chips and Guacamole
26        Chips and Mild Fresh Tomato Salsa
27       Chips and Roasted Chili Corn Salsa
28       Chips and Roasted Chili-Corn Salsa
29    Chips and Tomatillo Green Chili Salsa
30      Chips and Tomatillo Red Chili Salsa
31    Chips and Tomatillo-Green Chili Salsa
32      Chips and Tomatillo-Red Chili Salsa
33                             Crispy Tacos
34                                     Izze
35                         Nantucket Nectar
36                                    Salad
37                            Side of Chips
38                               Steak Bowl
39                            Steak Burrito
40                       Steak Crispy Tacos
41                              Steak Salad
42                         Steak Salad Bowl
43                         Steak Soft Tacos
44                              Veggie Bowl
45                           Veggie Burrito
46                      Veggie Crispy Tacos
47                             Veggie Salad
48                        Veggie Salad Bowl
49                        Veggie Soft Tacos
dtype: object

50

**7. (0.5 puncte) Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?**

In [10]:
data['quantity'].sum()

4972

**8. (0.5 puncte) Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.**

In [38]:
data_price = pd.DataFrame(data[data['item_name'] == 'Chicken Crispy Tacos'].item_price)
data_price['item_price'].replace(regex=True,inplace=True,to_replace=r'\$',value=r'')
data_price = data_price.astype(float)
print('Pretul minim: $', float(data_price.describe().loc['min']))
print('Pretul maxim: $', float(data_price.describe().loc['max']))
print('Pretul mediu: $', float(data_price.describe().loc['mean']))
print('Pretul median: $', float(data_price.describe().loc['50%']))
print('Numarul de produse comandate: ', (data[data.item_name == 'Chicken Crispy Tacos'].quantity).sum())
print('Veniturile totale: $' , float(data_price.sum()))

Pretul minim: $ 8.49
Pretul maxim: $ 17.5
Pretul mediu: $ 10.04531914893617
Pretul median: $ 8.75
Numarul de produse comandate:  50
Veniturile totale: $ 472.13

**9. (0.5 puncte) Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) e utila pentru intelegerea agregarilor.**

In [12]:
data.groupby('item_name')['quantity'].sum().nlargest(3)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Name: quantity, dtype: int64

**10. (0.5 puncte) De cate ori s-a comandat 'Veggie Salad Bowl'?**

In [13]:
print(data[data['item_name'] == 'Veggie Salad Bowl'].count().quantity)

18

**11. (0.5 puncte) De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?**

In [14]:
data.loc[data['item_name'] == 'Canned Soda'][data['quantity'] > 1].quantity.count()

20

**12. (0.5 puncte) Care sunt sumele incasate pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)**

In [15]:
data['item_price_float'] = data['item_price']
data['item_price_float'].replace(regex=True,inplace=True,to_replace=r'\$',value=r'')
data.item_price_float = data.item_price_float.astype(float)
data['total_sum'] = data.item_price_float * data.quantity
data

,order_id,quantity,item_name,choice_description,item_price,item_price_float,total_sum
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

## Exercitiul 2
Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.

In [16]:
euro2020 = pd.read_csv('Euro2020.csv', sep=',')

**1. (optional) Cate echipe au participat la Euro 2012?**

In [17]:
euro2020.shape[0]

16

**2. (optional) Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.**

In [18]:
euro2020.sort_values(by=['Red Cards', 'Yellow Cards'])

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

**3. (0.5 puncte) Care e numarul mediu de cartonase rosii date? Dar mediana?**

In [19]:
print(euro2020['Red Cards'].describe().loc['mean'])
print(euro2020['Red Cards'].describe().loc['50%'])

0.1875
0.0

**4. (0.5 puncte) Care sunt echipele care au luat mai multe cartonase rosii decat media?**

In [20]:
euro2020['Team'][euro2020['Red Cards'] > euro2020['Red Cards'].describe().loc['mean']]

6                  Greece
9                  Poland
11    Republic of Ireland
Name: Team, dtype: object

**5. (obligatoriu, 0 puncte) Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.**

In [21]:
euro2020[euro2020['Team'].str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

**6. (0.5 puncte) Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?**

In [22]:
print('England')
print(euro2020.loc[euro2020['Team'] == "England"]['Shooting Accuracy'])
print('Greece')
print(euro2020.loc[euro2020['Team'] == "Greece"]['Shooting Accuracy'])
print('Russia')
print(euro2020.loc[euro2020['Team'] == "Russia"]['Shooting Accuracy'])

England
3    50.0%
Name: Shooting Accuracy, dtype: object
Greece
6    30.7%
Name: Shooting Accuracy, dtype: object
Russia
12    22.5%
Name: Shooting Accuracy, dtype: object

## Exercitiul 3
Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:

In [23]:
drinks = pd.read_csv('drinks.csv', sep=',')

**1. (0.5 puncte) Pe care continent se bea mai multa bere, in medie?**

In [24]:
drinks.groupby('continent')['beer_servings'].mean().idxmax()

'EU'

**2. (0.5 puncte) Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.**

In [25]:
drinks.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

**3. (0.5 puncte) Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.**

In [26]:
drinks.groupby('continent')['beer_servings'].agg(func = ['min','max','mean'])

           min  max        mean
continent
AF           0  376   61.471698
AS           0  247   37.045455
EU           0  361  193.777778
OC           0  306   89.687500
SA          93  333  175.083333